.DS_Store
.auto/
build/
build_**/
artifacts/
lib/
.manta/
.idea/
.gradle/
.vscode/
.terraform/
node_modules/
npm-debug.log
outputs/
*.mp4
*.iml
__pycache__/
*.py[cod]
*$py.class
.cxx/
.externalNativeBuild/
coverage/
cmake-build-*
local.properties
results/
